body{
    background-color: aliceblue;
}

#frame{
    
    height : auto;
    width : 40%;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
   
}

.heading{
    background-color: #ECEFF1;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0px;
}

#bullets{
    list-style-type: disc;
    padding-left: 20px;
}

.bold{
    font-weight: bold;
}

table{
    
    width: 100%;
    border-collapse: collapse;
    
    
}